.destacados__titulo--icono {
    max-width: 24px;
    color: #cc0000;
    .destacados__titulo--texto {
        font-weight: bold;
        font-size: 20px;
        color: #333333;
    }
}

.carousel-inner {
    cursor: pointer;
}