.destacados__titulo--icono {
    max-width: 24px;
    color: $rojo;
    .destacados__titulo--texto {
        font-weight: bold;
        font-size: 20px;
        color: $gris;
    }
}

.carousel-inner {
    cursor: $cursor;
}