.contactos__titulo {
  width: 900px;
  margin-top: 40px;
}

.contacto__formulario {
  margin-top: 20px;
  width: 900px;
  sup {
    color: $rojo;
  }

  button {
    margin: 21px;
    padding: 5px;
    font-size: 15px;
    cursor: $cursor;
  }

  .contacto__campo,
  textarea {
    max-width: 400px;
  }

}