.oferta__container{
    width: 900px;
    border: 1px solid red;
    padding: 5px;
}

.oferta {
    margin-left: 15px;
    &:hover {
        animation-name: redimensionar;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
  }