.page-link {
    color: $gris;
    background-color: $blanco;
    border: none;
    &:hover {
        color: $blanco;
        background-color: $rojo;
      }
  }
  
  .pagina-activa {
    color: $blanco;
    background-color: $rojo !important;
    border: none;
  }
  